.BarraDeCima {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100vw;
    height: 100vh;

    .filtragemprod {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.483);

        position: fixed;
        top: 0;
        left: 0;
        z-index: 30;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            width: 500px;
            height: auto;
            gap: 10px;
            background-color: #3f3f3f;
            border-radius: 10px;
            padding: 10px;

            .title {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                height: 60px;
                gap: 10px;
                margin-bottom: 10px;
                
                .voltar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
            
                    background-color: rgb(53, 53, 53);
                    width: 60px;
                    height: 100%;
                    padding: 20px;
                    border-radius: 10px;
                    transition: 0.3s;
                    cursor: pointer;
            
                    &:hover {
                        padding: 15px;
                        border: solid 2px white;
                    }
            
                    img {
                        height: 100%;
                    }
                    border-radius: 10px;
                }

                .titlename {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
            
                    width: auto;
                    min-width: 200px;
                    height: 100%;
                    padding: 0px 20px;
                    border-radius: 10px;
                    background-color: rgb(53, 53, 53);
                }
            }

            select {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 60px;
                background-color: rgb(53, 53, 53);
                border-radius: 10px;
                color: rgb(128, 128, 128);
            }

            .promocao {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 60px;
                background-color: rgb(53, 53, 53);
                border-radius: 10px;
                cursor: pointer;

                &.selecionado {
                    background-color: rgb(177, 66, 66);
                    
                    p {
                        color: yellow;
                    }
                }
                
                &:hover {
                    border: solid 2px white;
                }
            }


            .preco {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                height: 60px;
                gap: 10px;
                
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: rgb(53, 53, 53);
                    color: rgb(128, 128, 128);

                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }








    .tipoProcura {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        padding: 20px 50px 0px 110px;
        gap: 10px;

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            width: auto;
            min-width: 200px;
            height: 35px;
            padding: 0px 20px;
            border-radius: 10px;
            background-color: rgb(53, 53, 53);
            border: solid 2px rgb(72, 72, 72);
        }

        button {
            height: 35px;
            background-color: rgb(53, 53, 53);
            border: solid 2px rgb(72, 72, 72);
            border-radius: 10px;
            color: #828282;
            width: 200px;
            transition: 0.3s;
            cursor: pointer;

            &.selecionado {
                color: rgb(52, 52, 52);
                background-color: rgb(221, 221, 221);
            }

            &:hover{
                color: white;
            }
        }
    }

    .procuraras {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: auto;
        padding: 20px 0px 15px 0px;

        .swiper {
            width: 100%;
            aspect-ratio: 16 / 4;
            padding: 0px 50px 0px 110px;
        }
          
        .swiper-slide {
            background: #2c2c2c;
            border-radius: 10px;
            overflow: hidden;
            
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(50% - 7.5px);
            aspect-ratio: 16 / 9;
            cursor: pointer;

            &:hover {
                border: solid 2px white;
                transition: 0.3s;
            }

            .gamename {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                height: 35px;
                border-radius: 10px;

                position: absolute;
                bottom: 15px;
                left: 115px;
            }

            > p {
                font-weight: 600;
                position: absolute;
                left: 15px;
                bottom: 15px;
                background-color: red;
                padding: 5px 10px;
                border-radius: 10px;
                border: solid 2px rgb(91, 91, 189);
                background-color: rgb(54, 54, 154);
            }

            img {
                width: 100%;
                height: 100%;

                &.icon {
                    width: 60px;
                    min-height: 60px;
                    max-height: 60px;
                    opacity: 0.4;
                }
            }




            &.categorias {
                height: calc(100% / 3 - 10px);
                background-color: rgb(53, 53, 53);
                border: solid 2px rgb(72, 72, 72);
                color: rgb(93, 93, 93);
            }

            .surpreendame {
                display: flex;
                justify-content: center;
                align-items: center;

                background: linear-gradient(130deg, rgb(97, 53, 190), rgb(94, 33, 141));
                width: 100%;
                height: 100%;

                transition: 1.5s;
                position: absolute;
                left: 0%;
                z-index: 3;
            }

            .roleta {
                display: flex;
                justify-content: center;
                align-items: center;

                background: linear-gradient(130deg, rgb(61, 73, 183), rgb(52, 72, 134));
                width: 100%;
                height: 100%;

                transition: 1.5s;
                position: absolute;
                left: 0%;
                z-index: 3;
            }

            .surpreenda {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                height: 100%;
                position: relative;

                .procurar {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100%;
                    height: auto;
                    gap: 15px;
                    position: absolute;
                    padding: 0px 15px;
                    bottom: 15px;
                    left: 0px;

                    > button {
                        height: 35px;
                        background-color: #3f3f3ffd;
                        border-radius: 10px;
                        color: #828282;
                        border: solid 2px rgb(72, 72, 72);
                        width: 250px;
                        transition: 0.3s;
                        cursor: pointer;
                        &:hover{ color: white; }
                    }
                }
            }
        }
    }

    .barraup-pesquisa {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        padding: 10px 50px 0px 110px;
        height: auto;
        gap: 10px;

        position: sticky;
        top: 0px;
        z-index: 3;
        background-color: rgb(24, 24, 24);

        > button {
            width: 35px;
            height: 35px;
            background-color: rgb(53, 53, 53);
            border: solid 2px rgb(72, 72, 72);
            border-radius: 10px;
            color: rgb(223, 223, 223);;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                border: solid 1px white;
            }
        }

        > input {
            width: 100%;
            height: 35px;
            border: none;
            border-radius: 10px;
            padding: 0px 20px;
            background-color: rgb(53, 53, 53);
            border: solid 2px rgb(72, 72, 72);
            transition: 0.3s;
            color: #ffffff;
            outline: none;
        }

        .redirects {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: auto;
            height: 40px;
            gap: 10px;
            padding: 10px;
            transition: 0.5s;
            background-color: #313131;
            border-radius: 10px;

            &:hover {
                padding: 9px;
                > img {
                    opacity: 1;
                }
                > p {
                    display: flex;
                }
            }

            > img {
                height: 100%;
                opacity: 0.6;
            }

            > p {
                display: none;
                transition: 0.3s;
            }
        }
    }

    #pesquisar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        width: 100%;
        height: 100%;
        gap: 20px;
        padding: 15px 30px 0px 110px;
        
        .pGames {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            gap: 15px;
            min-width: calc(70vw - 140px);
            height: auto;
            max-height: 100%;
            padding: 0px 0px 20px 0px;
            transition: 0.3s;
            
            .errorpesquisa {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 300px;
                background-color: #313131;
                border-radius: 10px;
            }
        }
    }
}