.title-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height: auto;
    gap: 10px;
    padding: 20px 30px 0px 110px;
    background-color: rgba(31, 31, 31, 0);

    .voltar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background-color: rgb(53, 53, 53);
        width: 40px;
        height: 40px;
        padding: 12px;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            padding: 8px;
            border: solid 2px white;
        }

        img {
            height: 100%;
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: auto;
        min-width: 200px;
        height: 40px;
        padding: 0px 20px;
        border-radius: 10px;
        background-color: rgb(53, 53, 53);
    }
}