#Change {
    width: 100vw;
    left: 0;
    position: absolute;

    .mascotes {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.546);

        position: fixed;
        bottom: 0; 
        left: 0;
        z-index: 30;

        .swiper {
          width: 100%;
          padding-top: 50px;
          padding-bottom: 50px;
        }
        
        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;

          background-position: center;
          background-size: cover;
          background-color: rgb(42, 42, 42);
          width: 750px;
          height: 450px;
          border-radius: 10px;
          position: relative;

          h1 {
              color: rgb(29, 29, 29);
          }

          button {
              border: none;
              padding: 10px 20px;
              border-radius: 10px;
              z-index: 1;
              position: absolute;
              left: 40px;
              cursor: pointer;
              transition: 0.3s;

              &:hover {
                  transform: scale(1.05);
              }

              &:active {
                transform: scale(0.95);
              }
          }

          &.thanos {
            background: linear-gradient(140deg, rgb(116, 49, 158), rgb(149, 49, 180));
          }
          &.dino {
            background: linear-gradient(140deg, rgb(42, 171, 85),rgb(52, 136, 41));
          }
          &.eu {
            background: linear-gradient(140deg, rgb(46, 81, 131), rgb(92, 61, 204));
          }

          img {
            display: block;
            position: absolute;

              &.thanosimg {
                  width: 380px;
                  bottom: 0;
                  right: 0;
              }
              &.leaoimg {
                width: 320px;
                bottom: -60px;
                left: 20px;
              }
              &.sonicimg {
                width: 580px;
                bottom: 0;
                right: -60px;
              }
          }
        }
    }





    .Change-fundo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 35rem; 
        position: relative;
        padding: 20px 30px 20px 110px;

        .img {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 250px;
            height: 250px;
            border-radius: 100%;
            border: solid 3px rgb(37, 37, 37);
            background-color: rgb(37, 37, 37);
            overflow: hidden;

            position: absolute;
            bottom: -125px;
            left: 110px;

            img {
                height: 100%;
            }
        }  
        
        .videofoda {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 400px;
            height: 90%;
            position: absolute;
            right: 150px;
            overflow: hidden;

            video {
              height: 100%;
            }
        }
    }

    .informacoes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: 550px;
      gap: 20px;
      padding: 145px 30px 20px 110px;

      .dados {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        width: 100%;
        height: 100%;
        gap: 20px;
        padding: 20px;
        background-color: rgb(55, 55, 55);
        border-radius: 10px;

        .name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          width: 100%;
          height: 80px;
          border-radius: 10px;
          padding: 0px 20px;
          background-color: rgb(38, 38, 38);

          h1 {
            color: rgb(169, 169, 169);
          }
        }

        .desc {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-color: rgb(38, 38, 38);
      }
      }

      .dados-perfil {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, rgb(0, 49, 128), rgb(0, 110, 255));
        border-radius: 10px;
      }
  }
}
