.Change {
    width: 100vw;
    left: 0;
    position: absolute;

    .mascotes {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.546);

        position: fixed;
        bottom: 0; 
        left: 0;
        z-index: 30;

        .swiper {
          width: 100%;
          padding-top: 50px;
          padding-bottom: 50px;
        }
        
        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;

          background-position: center;
          background-size: cover;
          background-color: rgb(42, 42, 42);
          width: 750px;
          height: 450px;
          border-radius: 10px;
          position: relative;
          cursor: pointer;

          h1 {
              color: rgb(29, 29, 29);
          }

          button {
              border: none;
              padding: 10px 20px;
              border-radius: 10px;
              z-index: 1;
              position: absolute;
              left: 40px;
              cursor: pointer;
              transition: 0.3s;

              &:hover {
                  transform: scale(1.05);
              }

              &:active {
                transform: scale(0.95);
              }
          }


          &.thanos {
            background: linear-gradient(140deg, rgb(116, 49, 158), rgb(149, 49, 180));
          }
          &.hulk {
            background: linear-gradient(140deg, rgb(42, 171, 85),rgb(52, 136, 41));
          }
          &.sonic {
            background: linear-gradient(140deg, rgb(46, 81, 131), rgb(92, 61, 204));
          }

          img {
            display: block;
            position: absolute;

              &.thanosimg {
                  width: 380px;
                  bottom: 0;
                  right: 0;
              }
              &.leaoimg {
                width: 320px;
                bottom: -60px;
                left: 20px;
              }
              &.sonicimg {
                width: 580px;
                bottom: 0;
                right: -60px;
              }
              &.sair {
                transform: rotate(45deg);
             }
          }
        }
    }





    .Change-fundo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 32rem; 
        position: relative;
        padding: 20px 30px 20px 110px;

        .fundo {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            top: 0px;
            transition: 0.3s;
            animation: chegada 1s;
        }
        .filtro {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.22);
            position: absolute;
            z-index: 3;
            top: 0px;
            transition: 0.3s;
            animation: chegada 1s;
        }

        .img {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 250px;
            height: 250px;
            border-radius: 100%;
            border: solid 3px rgb(37, 37, 37);
            background-color: rgb(37, 37, 37);
            overflow: hidden;

            position: absolute;
            bottom: -125px;
            left: 110px;
            z-index: 5;

            &.paddingzing {
              background-color: white;
              padding: 100px;
            }

            img {
                height: 100%;
            }
        }  
        
        .mascote {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: auto;
            height: 100%;
            position: absolute;
            right: 150px;
            overflow: hidden;
            z-index: 3;
            top: 0px;
            transition: 0.3s;
            animation: chegada 1s;

            img {
              height: 100%;
            }
        }
    }

    .informacoes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: 570px;
      gap: 20px;
      padding: 145px 30px 20px 110px;

      button {
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          transform: scale(1.02);
        }

        &:active {
          transform: scale(0.95);
        }
      }

      .dados {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        height: 100%;
        gap: 15px;
        padding: 15px;
        background-color: rgb(55, 55, 55);
        border-radius: 10px;
        position: relative;

        .name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          width: auto;
          height: 60px;
          border-radius: 10px;
          padding: 0px 20px;
          background-color: rgb(46, 46, 46);

          h1 {
            color: rgb(169, 169, 169);
          }
        }

        .desc {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          width: 100%;
          height: auto;
          max-height: 230px;
          border-radius: 10px;
          padding: 15px;
          overflow: auto;
          position: relative;
          background-color: rgb(46, 46, 46);

          .linha-desc {
            width: 4px;
            height: 100vh;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgb(255, 191, 0);
          }

          p {
            font-weight: 500;
          }
        }

        ::-webkit-scrollbar {
          width: 0px;
          height: 5px;
        }
          
        ::-webkit-scrollbar-track {
            background-color: transparent;
        }
        
        ::-webkit-scrollbar-thumb {
            background-color: transparent;
            border-radius: 20px;
        }

        .acoes-dados {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            height: 80px;
            padding: 15px;
            gap: 15px;

            position: absolute;
            bottom: 0;
            right: 0;
            
            button {
              width: 100%;
              height: 100%;
              border: none;
              border-radius: 10px;

              &.black {
                background-color: rgb(44, 44, 44);
                color: white;
              }
            }
        }
      }

      .dados-perfil {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        width: 50%;
        height: 100%;
        padding: 15px;
        border-radius: 10px;

        button {
          width: 100%;
          height: 60px;
          background-color: white;
          border-radius: 10px;
          border: none;
        }
      }
  }
}

