#EditarExcluir{

    p{
        color: black;
    }
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        
        width: 100vw;
        height: auto;
        padding: 20px 20px 20px 370px;
        gap: 30px;

        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            height: 350px;
            border-radius: 30px;
            overflow: hidden;
            background-color: rgb(229, 229, 229);
            
              &:hover {
            .acoes img {
                visibility: visible;
                opacity: 1;
                transition: 0.1s;
                transform: scale(1.04);
            }
        }

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, #ffffff, transparent);
            opacity: 0;
            animation: lightAnimation 2s linear infinite;
          }
        
          @keyframes lightAnimation {
            0% {
              left: -100%;
              opacity: 0;
            }
            50% {
              left: 200%;
              opacity: 1;
            }
            100% {
              left: 200%;
              opacity: 0;
            }
          }

            .acoes{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 50%;
              
                img{
                    width: 40px;
                    cursor: pointer;
                    visibility: hidden;
                    opacity: 0;
                    transition: .3s;
                }
            }

          

            .card-L{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 50%;


                .Letra {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    width: 60px;
                    height: 60px;
                    background-color: rgb(153, 48, 173);
                    border-radius: 10px;

                    > h1 {
                        color: white;
                    }
                }
            }

            .conteudo1{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 60%;
                
                
                h1{
                    padding: 0px 0px 50px;
                }
              
            }
            .conteudo2{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                
                width: 100%;
                height: 40%;
                gap: 10px;
          
            }
        }

    }

    #detalhes{

    }

    #editar{
        
    }
}
