.BarraDeCima {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100vw;
    height: 100vh;

    .filtragemprod {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.483);

        position: fixed;
        top: 0;
        left: 0;
        z-index: 30;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            width: 500px;
            height: auto;
            gap: 10px;
            background-color: #3f3f3f;
            border-radius: 10px;
            padding: 10px;

            .title {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                height: 60px;
                gap: 10px;
                margin-bottom: 10px;
                
                .voltar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
            
                    background-color: rgb(53, 53, 53);
                    width: 60px;
                    height: 100%;
                    padding: 20px;
                    border-radius: 10px;
                    transition: 0.3s;
                    cursor: pointer;
            
                    &:hover {
                        padding: 15px;
                        border: solid 2px white;
                    }
            
                    img {
                        height: 100%;
                    }
                    border-radius: 10px;
                }

                .titlename {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
            
                    width: auto;
                    min-width: 200px;
                    height: 100%;
                    padding: 0px 20px;
                    border-radius: 10px;
                    background-color: rgb(53, 53, 53);
                }
            }

            select {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 60px;
                background-color: rgb(53, 53, 53);
                border-radius: 10px;
                color: rgb(128, 128, 128);
            }

            .promocao {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 60px;
                background-color: rgb(53, 53, 53);
                border-radius: 10px;
                cursor: pointer;

                &.selecionado {
                    background-color: rgb(177, 66, 66);
                    
                    p {
                        color: yellow;
                    }
                }
                
                &:hover {
                    border: solid 2px white;
                }
            }


            .preco {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                height: 60px;
                gap: 10px;
                
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: rgb(53, 53, 53);
                    color: rgb(128, 128, 128);

                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }








    .tipoProcura {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        padding: 15px 30px 0px 110px;
        gap: 15px;

        button {
            height: 40px;
            border-radius: 10px;
            padding: 0px 20px;
            border: none;
            background-color: #2c2c2c;
            color: rgb(93, 93, 93);
            cursor: pointer;
            transition: 0.3s;

            &.selecionado {
                background-color: white;
                color: #202020;
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .procuraras {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: auto;
        padding: 20px 0px 15px 0px;

        .swiper {
            width: 100%;
            height: auto;
        }
          
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #202020;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            min-height: 460px;
            max-height: 460px;
            width: 43%;

            &.none {
                width: 80px;
                background-color: rgba(44, 118, 192, 0);
            }

            h1 {
                position: absolute;
                bottom: 20px;
                left: 20px;
                padding: 10px 20px;
                background-color: rgb(56, 94, 200);
                border-radius: 10px;
                font-size: 15px;
            }

            img {
                width: 100%;
                min-height: 460px;
                max-height: 460px;

                &.icon {
                    width: 60px;
                    min-height: 60px;
                    max-height: 60px;
                    opacity: 0.4;
                }
            }




            &.categorias {
                
            }

            &.surpreendame {
                display: flex;
                justify-content: center;
                align-items: center;

                background: linear-gradient(130deg, rgb(97, 53, 190), rgb(94, 33, 141));
            }
        }
    }

    .barraup-pesquisa {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        min-width: 100%;
        padding: 15px 30px 15px 110px;
        height: auto;
        gap: 10px;

        > button {
            width: 60px;
            height: 60px;
            background-color: rgb(43, 43, 43);
            border: solid 2px rgb(50, 50, 50);
            border-radius: 10px;
            color: rgb(223, 223, 223);;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                border: solid 1px white;
            }
        }

        > input {
            width: 100%;
            height: 60px;
            border: none;
            border-radius: 10px;
            padding: 0px 20px;
            background-color: #313131;
            transition: 0.3s;
            color: #ffffff;
            outline: none;
            border: none;
        }

        .redirects {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: auto;
            height: 40px;
            gap: 10px;
            padding: 10px;
            transition: 0.5s;
            background-color: #313131;
            border-radius: 10px;

            &:hover {
                padding: 9px;
                > img {
                    opacity: 1;
                }
                > p {
                    display: flex;
                }
            }

            > img {
                height: 100%;
                opacity: 0.6;
            }

            > p {
                display: none;
                transition: 0.3s;
            }
        }
    }

    #pesquisar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        width: 100%;
        height: 100%;
        gap: 20px;
        padding: 15px 30px 0px 110px;
        
        .pGames {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            gap: 15px;
            min-width: calc(70vw - 140px);
            height: auto;
            max-height: 100%;
            padding: 0px 0px 20px 0px;
            transition: 0.3s;
            
            .errorpesquisa {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 300px;
                background-color: #313131;
                border-radius: 10px;
            }
        }
    }
}