.BarraDeCima {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100vw;
    height: 100vh;

    .filtragemprod {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.483);

        position: fixed;
        top: 0;
        left: 0;
        z-index: 30;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            width: 500px;
            height: auto;
            gap: 10px;
            background-color: #3f3f3f;
            border-radius: 10px;
            padding: 10px;

            .title {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                width: 100%;
                height: 60px;
                gap: 10px;
                margin-bottom: 10px;
                
                .voltar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
            
                    background-color: rgb(53, 53, 53);
                    width: 60px;
                    height: 100%;
                    padding: 20px;
                    border-radius: 10px;
                    transition: 0.3s;
                    cursor: pointer;
            
                    &:hover {
                        padding: 15px;
                        border: solid 2px white;
                    }
            
                    img {
                        height: 100%;
                    }
                    border-radius: 10px;
                }

                .titlename {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
            
                    width: auto;
                    min-width: 200px;
                    height: 100%;
                    padding: 0px 20px;
                    border-radius: 10px;
                    background-color: rgb(53, 53, 53);
                }
            }

            select {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 60px;
                background-color: rgb(53, 53, 53);
                border-radius: 10px;
                color: rgb(128, 128, 128);
            }

            .promocao {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 60px;
                background-color: rgb(53, 53, 53);
                border-radius: 10px;
                cursor: pointer;

                &.selecionado {
                    background-color: rgb(177, 66, 66);
                    
                    p {
                        color: yellow;
                    }
                }
                
                &:hover {
                    border: solid 2px white;
                }
            }


            .preco {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                height: 60px;
                gap: 10px;
                
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: rgb(53, 53, 53);
                    color: rgb(128, 128, 128);

                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }












    .barraup-pesquisa {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        min-width: 100%;
        padding: 20px 30px 20px 110px;
        height: auto;

        position: fixed;
        top: 0;
        left: 0;    

        > button {
            width: 60px;
            height: 60px;
            background-color: rgb(43, 43, 43);
            border: solid 2px rgb(50, 50, 50);
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            color: rgb(223, 223, 223);;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                border: solid 1px white;
            }
        }

        > input {
            width: 1070px;
            height: 60px;
            border: none;
            border-top-left-radius: 60px;
            border-bottom-left-radius: 60px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            padding: 0px 20px;
            background-color: #313131;
            transition: 0.3s;
            color: #ffffff;
            outline: none;
            border: none;
        }

        .redirects {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: auto;
            height: 40px;
            gap: 10px;
            padding: 10px;
            transition: 0.5s;
            background-color: #313131;
            border-radius: 10px;

            &:hover {
                padding: 9px;
                > img {
                    opacity: 1;
                }
                > p {
                    display: flex;
                }
            }

            > img {
                height: 100%;
                opacity: 0.6;
            }

            > p {
                display: none;
                transition: 0.3s;
            }
        }
    }

    #pesquisar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        width: 100%;
        height: 100%;
        gap: 20px;
        padding: 100px 30px 0px 110px;
        
        .pGames {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            gap: 20px;
            width: 100%;
            min-width: 1150px;
            height: auto;
            max-height: 100%;
            padding: 0px 0px 20px 0px;

            overflow: auto;
            
            .errorpesquisa {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 300px;
                background-color: #313131;
                border-radius: 10px;
            }
        }
        .filtragem {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

            .escolhas {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                width: 100%;
                height: 100%;
                padding: 20px;
                gap: 20px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                background-color: #2a2a2a;

                position: absolute;

                .cardfiltro {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background-color: #323232;
                    cursor: pointer;
                    transition: 0.3s;
                    border: solid 2px none;
    
                    h1 {
                        font-size: 15px;
                        color: #434343;
                    }
    
                    &:hover {
                        border: solid 2px white;
                    }
    
                    &:active {
                        transform: scale(0.95);
                    }
                }
            }




            .escolhido {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                width: 100%;
                height: 100%;
                padding: 20px;
                gap: 20px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                background-color: #2a2a2a;

                position: absolute;
                bottom: -3000px;

                .title {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100%;
                    height: 60px;
                    gap: 10px;
                    
                    .voltar {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                
                        background-color: rgb(53, 53, 53);
                        width: 60px;
                        height: 100%;
                        padding: 20px;
                        border-radius: 10px;
                        transition: 0.3s;
                        cursor: pointer;
                
                        &:hover {
                            padding: 15px;
                            border: solid 2px white;
                        }
                
                        img {
                            height: 100%;
                        }
                        border-radius: 10px;
                    }

                    .titlename {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                
                        width: auto;
                        min-width: 200px;
                        height: 100%;
                        padding: 0px 20px;
                        border-radius: 10px;
                        background-color: rgb(53, 53, 53);
                    }
                }

                .gamegrupos {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    width: 100%;
                    height: 100%;
                    gap: 20px;
                    overflow: auto;

                    .gamegrupo {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;

                        width: 100%;
                        min-height: 80px;
                        border-radius: 10px;
                        background-color: rgb(53, 53, 53);
                        cursor: pointer;

                        h1 {
                            font-size: 15px;
                            color: #b1b1b1;
                        }

                        &:hover {
                            border: solid 2px white;
                        }
                    }
                }

                .surpreenda {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100%;
                    height: 100%;
                    gap: 20px;

                    .cardsur {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 100%;
                        aspect-ratio: 5/5;
                        min-height: 5 / 5;
                        background: linear-gradient(130deg, rgb(151, 57, 172), rgb(112, 35, 160));
                        border-radius: 10px;
                        overflow: hidden;
                        position: relative;

                        img {
                            height: 100%;
                        }

                        .preto {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            padding: 20px;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.324);
                            position: absolute;
                            transition: 0.3s;

                            p {
                                display: none;
                                color: black;
                                padding: 10px 20px;
                                border-radius: 10px;
                                background-color: white;
                                transition: 0.3s;
                                cursor: pointer;

                                &:hover {
                                    transform: scale(1.03);
                                }
                                &:active {
                                    transform: scale(0.95);
                                }
                            }

                            &:hover {
                                background-color: rgba(0, 0, 0, 0.589);

                                p {
                                    display: flex;
                                }
                            }
                        }
                    }

                    .desc {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;

                        width: 100%;
                        height: auto;
                        padding: 20px;
                        border-radius: 10px;
                        background-color: rgb(53, 53, 53);
                        overflow: hidden;
                    }

                    .procurar {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        width: 100%;
                        height: 80px;
                        background-color: #2a2a2a;
                        position: absolute;
                        bottom: 0;
                        padding: 20px;
                        gap: 10px;
                        transition: 0.3s;

                        button {
                            width: 100%;
                            height: 100%;
                            background-color: white;
                            border: none;
                            border-radius: 10px;
                            transition: 0.3s;
                            cursor: pointer;
    
                            &:hover {
                                transform: scale(1.01);
                            }
                            &:active {
                                transform: scale(0.95);
                            }
                        }
                    }
                }
            }
        }
    }
}