.barranone {
    display: none;
}


.perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: auto;
    padding: 0px 20px;
    height: 60px;
    background-color: rgb(35, 35, 35);
    border-bottom-left-radius: 10px;

    position: fixed;
    top: 0px;
    right: 0px;
    gap: 15px;
    z-index: 4;

    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: rgb(44, 44, 44);
        overflow: hidden;
        border: solid 1px rgb(73, 73, 73);
        cursor: pointer;

        &.paddingzing {
            background-color: white;
            padding: 10px;
        }

        &.selecionado {
            border: solid 2px white;

            .pontos {
                opacity: 1;
            }
        }

        &.p {
            padding: 5px;
        }

        &:hover {
            border: solid 2px white;

            .pontos {
                opacity: 1;
            }
        }
        
        img {
            height: 100%;

            &.pontos {
                opacity: 0.4;
            }
        }
    }

    .configconta {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;

        width: 230px;
        height: 300px;
        background-color: rgb(47, 47, 47);
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;

        position: fixed;
        top: 60px;
        right: -230px;
        gap: 10px;
        padding: 20px 50px 20px 20px;

        .acoes {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            width: 100%;
            height: 100%;
            gap: 10px;
        }

        button {
            width: 160px;
            height: 40px;
            background-color: rgb(234, 234, 234);
            border-radius: 10px;
            border: none;
            transition: 0.3s;

            &.ac {
                background-color: rgb(60, 60, 60);
                color: white;
            }

            &:hover {
                background-color: #31313100;
                border: solid 2px white;
                color: #ffffff;
            }
        }
    }
}
