.Descobrir {
    width: 1600px;

    #news {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 650px;
        gap: 20px;
        padding: 20px 0px;

        img {
            width: 100%;
            height: 100%;
        }

        h1 {
            font-size: 15px;
            color: rgb(235, 235, 235);
        }
        p {
            font-size: 15px;
            color: rgb(207, 207, 207);
        }

        .news-games {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            width: 1060px;
            height: 100%;
            border-radius: 10px;
            padding: 10px;
            background-color: #353535;

            .swiper {
                width: 100%;
                height: 100%;
                border-radius: 10px;
              }
              
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #3d3d3d;
              
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
              }
              
              .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              
              .autoplay-progress {
                position: absolute;
                right: 16px;
                bottom: 16px;
                z-index: 10;
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: white;
              }
              
              .autoplay-progress svg {
                --progress: 0;
                position: absolute;
                left: 0;
                top: 0px;
                z-index: 10;
                width: 100%;
                height: 100%;
                stroke-width: 4px;
                stroke: var(--swiper-theme-color);
                fill: none;
                stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
                stroke-dasharray: 125.6;
                transform: rotate(-90deg);
              }
        }
        .news-note {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
            width: 100%;
            height: 100%;
            border-radius: 10px;

            position: relative;

            .animation-note {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 260px;

                .note {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
    
                    width: 100%;
                    height: 260px;
                    background-color: #353535;
                    border-radius: 10px;
                    padding: 10px;
                    transition: 0.3s;
    
                    .img {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
    
                        width: 100%;
                        height: 100%;
                        background-color: #3f3f3f;
                        border-radius: 10px;
                    }
                    .conteudo {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
    
                        width: 100%;
                        height: 100%;
                        padding: 0px 0px 0px 10px;
    
                        .info {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
    
                            width: 100%;
                            height: 100%;
                        }
                        .acoes {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
    
                            width: 100%;
                            height: 40px;
                            gap: 10px;
                            
                            > button {
                                border: none;
                                border-radius: 10px;
                                background-color: aliceblue;
                                width: 100%;
                                height: 100%;
                                color: black;
                            }
                            > button:hover {
                                background-color: rgba(255, 0, 0, 0);
                                border: solid 3px white;
                                color: white;
                            }
                            .salvar {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
    
                                width: 40px;
                                height: 100%;
                                border-radius: 10px;
                                background-color: #494949;
                            }
                        }
                    }
                }
            }
            .animation-note:hover {
                position: absolute;
                width: 100%;
                height: 90%;
                top: 0;
                right: 0;
            }
            .animation-note:hover > .note {
                height: 100%;
            }

            > button {
                background-color: #353535;
                color: white;
                border-radius: 10px;
                width: 100%;
                height: 40px;
                border: none;
            }
        }
    }

    #temas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 260px;
        gap: 20px;
        
        .tema {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;
            background-color: rgb(66, 66, 66);
            border-radius: 10px;
        }
    }
}