#Fundo {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;

    .cor {
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, rgb(117, 117, 220), rgb(198, 85, 198));
        position: absolute;
        z-index: 1;
    }
    .escuro {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.768);
        position: absolute;
        z-index: 2;
    }
}