.my-atropos {
    width: 320px;
    height: 160px;
}

.Produto {
    width: 100vw;
    left: 0;
    position: absolute;
    
    #titles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 40px;
        padding: 40px 30px 20px 110px;

        > h1 {
            font-size: 15px;
            color: white;
            border-radius: 5px;
            background-color: #3d308688;
            padding: 10px 20px;
        }

        > .tinf {
            border: solid 3px rgb(61, 93, 161);
        }

        > .t2 {
            border: solid 3px rgb(123, 61, 161);
        }

        >a > button {
            height: 40px;
            padding: 0px 20px;
            background-color: #38363b;
            border-radius: 10px;
            color: white;
            border: none;
            cursor: pointer;
        }

        >a > button:hover {
            border: solid 1px white;
        }

        .temas {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: auto;
            height: 100%;
            gap: 20px;
        }
    }




    .fake-nerwe {
        position: fixed;
        left: -5000px;
    }




    
    #produto-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        width: 100%;
        height: 580px;
        padding: 20px 30px 20px 110px;

        #produto {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            width: 100%;
            height: 100%;
            padding: 20px;
            border-radius: 10px;
            background-color: #252525;
            overflow: hidden;
            gap: 10px;
            position: relative;
    
            #info-produto {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
    
                width: 100%;
                height: 100%;
                position: relative;

                .escolhacard {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    width: 250px;
                    height: 150px;
                    padding: 5px 10px;
                    background-color: rgb(52, 52, 52);
                    border-radius: 10px;

                    position: absolute;
                    bottom: 60px;
                    right: 0;

                    .linha {
                        width: 210px;
                        height: 3px;
                        background-color: rgb(37, 37, 37);
                        border-radius: 20px;
                    }

                    .card {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;

                        width: 100%;
                        height: 100%;
                        background-color: rgba(195, 0, 0, 0);
                        border-radius: 10px;
                        cursor: pointer;

                        &:hover {
                            background-color: #2c2c2c;
                        }
                    }
                }
                
    
                .titulo {
                    display: flex;
                    flex-direction: column;
                    justify-self: flex-start;
                    align-items: flex-start; 
    
                    width: 100%;
                    height: auto;
                    position: sticky;
                    top: 0;
    
                    > p {
                        overflow-y: hidden;
                        max-width: 80ch;
                        max-height: 20ch;
                        text-overflow: ellipsis;
                    }
                }
    
                #Comprar {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    width: 100%;
                    height: auto;
                    background: rgba(154, 34, 34, 0);
                    border-radius: 10px;
                    padding: 0px ;
    
                    .info {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
    
                        width: 100%;
                        height: 50px;
                        gap: 10px;
    
                        > h1 {
                            padding: 10px 0px;

                            &.noprice {
                                font-size: 15px;
                            }
                        }  

                        .promocao {
                            color: yellow;
                        }
                    }
    
                    .comprar {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
    
                        width: 100%;
                        height: 40px;
                        gap: 10px;
    
                        > button {
                            width: 100%;
                            height: 40px;
                            background-color: #343434;
                            border: none;
                            border-radius: 10px;
                            color: white;
                            transition: 0.3s;
                            cursor: pointer;

                            img {
                                height: 100%;
                                opacity: 0.4;
                            }

                            &:hover {
                                border: solid 1px white;
                                img {
                                    opacity: 1;
                                }
                            }

                            &.acoes {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                width: 40px;
                                padding: 10px;
                                position: relative;
                            }
                        }
                    }

                    .acoes {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-end;
    
                        width: 100%;
                        height: 50px;
                        gap: 10px;
                        padding: 10px 0px 0px 0px ;
                        background-color: rgba(106, 0, 255, 0);

                        &.selecionado {
                            border: solid 2px white;
                            img {
                                opacity: 1;
                            }
                        }  
                    }
                }
            }
    
            #produto-images {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
    
                width: 100%;
                min-width: 770px;
                height: 100%;
                position: relative;
    
                .swiper {
                    width: 100%;
                    height: 100%;
                    cursor:grab;
                }

                .swiper:active {
                    cursor: grabbing;
                }

                img, video {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    transition: 0.3s;
                }
                  
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #2c2c2c;
                    border-radius: 10px;
                  
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.none {
                        display: none;
                    }
                }
    
                .outrosimg {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
    
                    width: 100%;
                    height: 200px;
                    padding: 10px 0px 0px 0px;
                    gap: 10px;
    
                    overflow-x: auto;
    
                    .imagem {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
    
                        min-width: 280px;
                        height: 90%;
                        border-radius: 10px;
                        background-color: rgb(24, 24, 24);
                    }
                }
    
                ::-webkit-scrollbar {
                    width: 10px;
                    height: 5px;
                }
                  
                ::-webkit-scrollbar-track {
                    background-color: transparent;
                }
                
                ::-webkit-scrollbar-thumb {
                    background-color: #333333;
                    border-radius: 20px;
                }
                
            }
        }
    }

    #descOUcoment {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100%;
        padding: 0px 0px 0px 120px;

        .selecionar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: auto;
            height: 40px;

            > button {
                height: 100%;
                background-color: #37373700;
                color: #828282;
                border: none;
                padding: 0px 20px;
                transition: 0.3s;
                cursor: pointer;

                &.selecionado {
                    color: white;
                }

                &:hover{
                    color: white;
                }
            }
        }

    }    

    #descEstatus {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 400px;
        padding: 20px 30px 20px 110px;

        p {
            max-height: 20ch;
            overflow-x: hidden;
        }

        ::-webkit-scrollbar {
            width: 10px;
        }
          
        ::-webkit-scrollbar-track {
            background-color: transparent;
        }
        
        ::-webkit-scrollbar-thumb {
            background-color: #333333;
            border-radius: 20px;
        }

        .desc {
            display: flex;
            flex-direction: column;
            justify-self: flex-start;
            align-content: space-between;

            width: 100%;
            height: 100%;
            margin-right: 10px;
            background-color: #2D2D2D;
            padding: 20px;
            border-radius: 10px;

            .detalhes {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                padding: 20px 0px;

                .detalhe {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    > p {
                        max-width: 12ch;
                        text-wrap: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .developers {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        overflow-x: hidden;
                    }
                }
            }
        }

        .status {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;

            width: 100%;
            height: 100%;
            padding: 20px;
            margin-left: 10px;
            background: linear-gradient(180deg, #4664c9, #3d3086);
            border-radius: 10px;

            .cards {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                padding: 20px 0px;

                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    width: 150px;
                    height: 150px;
                    padding: 20px;
                    border-radius: 20px;
                    background: linear-gradient(180deg, #4669c9, #bc6a1e00);
                }
            }
        }
    }

    #plataformas {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        border-radius: 10px;
        padding: 20px 30px 20px 110px;

        .plataformas {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
            width: 100%;
            height: 40px;
            border-radius: 10px;
            background-color: rgb(55, 50, 59);

            .plataforma {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                height: 100%;
                width: 100%;;
                padding: 0px 20px;

                > p {
                    color: #8b8b8b;
                    text-wrap: nowrap;
                }

                > img {
                    height: 100%;
                }
            }
        }
    }

    #produtos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        width: 100vw;
        height: auto;
        overflow-x: hidden;
        gap: 22px;
        padding: 20px 30px 20px 110px;
    }

    #comentarios {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        
        width: 100%;
        height: auto;
        padding: 20px 30px 20px 110px;
        gap: 20px;

        h1 {
            font-size: 50px;
            color: white;
        }   

        p {
            color: #E7E7E7;
        }

        #status {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-start;

            width: 500px;
            gap: 20px;

            .status {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
    
                width: 100%;
                height: 330px;
                padding: 20px;
                border-radius: 10px;
                background: linear-gradient(180deg, #C946A4, #5a1460d8);
    
                .resultado {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
    
                    width: 100%;
                    height: 40px;
                }
    
                .estatisticas {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
    
                    width: 100%;
                    height: 200px;
    
                    .resultado {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
    
                        width: 100%;
                        height: 30px;
                        gap: 5px;

                        p {
                            max-width: 2ch;
                            text-overflow: hidden;
                            
                        }
    
                        .porcentagem {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            flex-grow: 1;
                            
                            height: 4px;
                            border-radius: 20PX;
                            background-color: #C745BA;
    
                            .porcento {
                                height: 100%;
                                border-radius: 20PX;
                                transition: 0.3s;
                                background-color: #fafafa;
                            } 
    
                            #p5 {
                                
                            }
    
                            #p4 {
                                
                            }
    
                            #p3 {
                                
                            }
    
                            #p2 {
                                
                            }
    
                            #p1 {
                               
                            }
                        }
                    }
                }
            }

            button {
                width: 100%;
                height: 40px;
                background-color: #D1D1D1;
                color: #2D2D2D;
                font-size: 15px;
                border-radius: 10px;
                border: none;
                font-weight: 600;
                transition: 0.3s;
            }
            
            button:hover {
                border: solid 3px white;
                color: white;
                background-color: #242227;
            }
        }
        
        .comentarios {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            width: 100%;

            .comentario {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: auto;
                max-height: 400px;
                padding: 20px;
                background-color: #2D2D2D;
                border-radius: 10px;
                margin-bottom: 20px;

                .conteudo {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100%;
                    height: 100%;

                    .c-user {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        width: 100%;
                        height: auto;

                        .c-user-image {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            width: 40px;
                            height: 40px;
                            background-color: #D9D9D9;
                            border-radius: 100%;
                            margin-right: 10px;
                        }

                        > h1 {
                            font-size: 15px;   
                        }
                    }

                    #comentario {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;

                        width: 100%;
                        padding: 10px 0px 0px 0px;
                    }

                    #comentario > p {
                        color: #bebebe;
                        overflow-x: hidden;
                        max-height: 12ch;
                    }

                    ::-webkit-scrollbar {
                        width: 10px;
                    }
                      
                    ::-webkit-scrollbar-track {
                        background-color: transparent;
                    }
                    
                    ::-webkit-scrollbar-thumb {
                        background-color: #333333;
                        border-radius: 20px;
                    }
                }

                .estrelas {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100%;
                    height: 40px;
                    padding: 0px 0px 0px 0px;

                    > span {
                        color: rgb(199, 145, 65);
                    }

                    > img {
                        height: 100%;
                        margin-right: 10px;
                    }
                }
            }
        }

        .NoComentarios {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;
            min-height: 390px;
            background-color: rgb(48, 48, 48);
            border-radius: 10px;

            > h1 {
                font-size: 15px;
                color: #828282;
                font-weight: 500;
            }
        }

        #FazerComentario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100vh;
            filter: blur(5);
            background-color: #000000a6;

            position: fixed;
            top: 0;
            right: 0;
            z-index: 7;

            .Comentar {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                width: 650px;
                height: 500px;
                background-color: #242227;
                border-radius: 10px;
                padding: 20px;
                gap: 10px;
                position: relative;

                .emoji {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    width: auto;
                    height: auto;
                    position: absolute;
                    left: -370px;
                    bottom: 0;
                }

                > .title {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;

                    > button {
                        width: 50px;
                        height: 50px;
                        background-color: #2c2c2c;
                        border: solid 3px #1e1e20;
                        border-radius: 10px;
                        color: rgb(228, 228, 228);
                        cursor: pointer;

                        img {
                            height: 15px;
                            opacity: 0.5;
                            transition: 0.3s;
                        }
                    }

                    > button:hover {
                        border: solid 1px white;
                        img {
                            opacity: 1;
                            height: 20px;
                        }
                    }

                    > h1 {
                        font-size: 15px;
                        border-radius: 5px;
                        border: solid 3px #663086;
                        background-color: #66308636;
                        padding: 10px 20px;
                    }
                }

                > textarea {
                    width: 100%;
                    height: 100%;
                    background-color: #2c2c2c;
                    border: solid 3px #1e1e20;
                    border-radius: 10px;
                    color: #e6e6e6;
                    padding: 10px;
                    resize: none;

                    &:focus {
                        outline: 0;
                    }
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 50px;
                    gap: 10px;

                    .emojis {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        width: 50px;
                        height: 50px;
                        padding: 12px;
                        border: none;
                        border-radius: 10px;
                        background-color: #2c2c2c;
                        border: solid 3px #1e1e20;
                        color: white;
                        cursor: pointer;
                        position: relative;
                        transition: 0.3s;

                        &.selecionado {
                            padding: 10px;
                            border: solid 2px white;

                            img {
                                opacity: 1;
                            }
                        }

                        &:hover {
                            padding: 10px;
                            border: solid 2px white;

                            img {
                                opacity: 1;
                            }
                        }

                        img {
                            height: 100%;
                            opacity: 0.5;
                        }
                    }

                    > button {
                        width: 100%;
                        height: 50px;
                        border: none;
                        border-radius: 10px;
                        background-color: #2c2c2c;
                        border: solid 3px #1e1e20;
                        color: white;
                        cursor: pointer;
    
                        &:hover {
                            border: solid 1px white;
                        }
                    }
                }
            }

            #estrelas {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                width: 650px;
                height: 300px;
                background-color: #242227;
                border-radius: 10px;
                padding: 20px;
                gap: 10px;

                > .title {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    position: relative;

                    > button {
                        width: 50px;
                        height: 50px;
                        background-color: #2c2c2c;
                        border: solid 3px #1e1e20;
                        border-radius: 10px;
                        color: rgb(228, 228, 228);
                        cursor: pointer;

                        &:hover {
                            border: solid 1px white;
                            img {
                                opacity: 1;
                                height: 20px;
                            }
                        }
                    }

                    img {
                        height: 15px;
                        opacity: 0.5;
                        transition: 0.3s;
                    }

                    > h1 {
                        font-size: 15px;
                        border-radius: 5px;
                        border: solid 3px #663086;
                        background-color: #66308636;
                        padding: 10px 20px;
                    }

                    .starstitle {
                        border: solid 3px #867930;
                        background-color: #86793036;
                        position: absolute;
                        right: 0;
                    }
                }

                .estrelas {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 100px;
                    gap: 10px;

                    > button {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        width: 100%;
                        height: 80%;
                        border: none;
                        background-color: #03030300;
                        transition: 0.3s;
                        cursor: pointer;

                        &:hover {
                            height: 100%;
                        }

                        &.selecionado {
                            height: 100%;
                        }

                        > img {
                            height: 100%;
                        }
                    }
                }

                > button {
                    width: 100%;
                    height: 60px;
                    border: none;
                    border-radius: 10px;
                    background-color: #2c2c2c;
                    border: solid 3px #1e1e20;
                    color: white;
                    cursor: pointer;
                }

                > button:hover {
                    border: solid 1px white;
                }
            }
        }
    }

    #complementos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 100vw;
        height: auto;
        padding: 20px 30px 20px 110px;

        > .title {
            display: flex;
            flex-direction: rwo;
            justify-content: flex-start;
            align-items: center;

            width: 100%;
            height: 60px;
            padding: 0px 20px;
            background-color: rgb(105, 62, 71);
            border-radius: 10px;
        }

        > #produtos {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
    
            width: 100%;
            height: auto;
            overflow-x: hidden;
            padding: 20px;
            gap: 15px;
        }
    }
}






































// @media (max-width: 1714px) {
//     .Produto {
//         width: 1300px;

//         #produto {
//             width: 1300px;
//         }

//         #descEstatus {
//             width: 1300px;

//             .status {
//                 .cards {
//                     .card {
//                         width: 120px;
//                         height: 120px;
//                     }
//                 }
//             }
//         }
//         #produtos {
//             gap: 15px;
//         }
        
//         #comentarios {
//             width: 1300px;
//             #status {
//                 width: 30%;
//             }
//             .comentarios {
//                 .comentario {
                    
//                 }
//             }
//         }

//         #complementos {
//             width: 1300px;
//         }
//     }
// }

// @media (max-width: 1414px) {
//     .Produto {
//         width: 1100px;

//         #produto {
//             width: 1100px;
//             height: 450px;

//             #info-produto {
//                 #Comprar {
//                     padding: 0px 10px 10px 10px;
//                     .acoes {
//                         .paraconta {
//                             display: none;
//                         }
//                     }
//                 }
//             }
//         }

//         #descEstatus {
//             width: 1100px;
//             height: 350px;

//             .status {
//                 .cards {
//                     .card {
//                         width: 100px;
//                         height: 100px;
//                         > h2 {
//                             display: none;
//                         }
//                     }
//                 }
//             }
//         }
        
//         #comentarios {
//             width: 1100px;
//             #status {
//                 width: 30%;
//             }
//             .comentarios {
//                 .comentario {
                    
//                 }
//             }
//         }

//         #complementos {
//             width: 1100px;
//         }
//     }
// }

// @media (max-width: 1209px) {
//     .Produto {
//         width: 1000px;

//         #produto {
//             width: 1000px;
//             height: 730px;
//             flex-direction: column-reverse;
//             padding: 10px;
//             background-color: rgba(165, 34, 34, 0);

//             #info-produto {
//                 height: 300px;
//                 padding: 0;
//                 position: relative;

//                 .titulo {
//                     padding: 10px 0px;

//                     > p {
//                         max-width: 120ch;
//                         max-height: 10ch;
//                     }
//                 }

//                 #Comprar {
//                     position: absolute;
//                     bottom: 0;
//                 }
//             }

//             #produto-images {
//                 height: 450px;
//             }
//         }

//         #descEstatus {
//             width: 1000px;
//             padding: 10px;
//             height: 520px;

//             p {
//                 max-height: 50ch;
//             }

//             .status {
//                 width: 200px;

//                 .cards {
//                     flex-direction: column;
//                 }
//             }
//         }
        
//         #comentarios {
//             width: 1000px;
//             flex-direction: column;
//             padding: 10px;
//             #status {
//                 width: 100%;
//                 flex-direction: column; 
//             }
//         }

//         #complementos {
//             width: 1000px;
//         }
//     }
// }