.Produto {
    #titles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 40px;
        padding: 0px 20px;

        > h1 {
            font-size: 15px;
            color: white;
            border-radius: 5px;
            background-color: #3d308688;
            padding: 10px 20px;
        }

        > .tinf {
            border: solid 3px rgb(61, 93, 161);
        }

        > .t2 {
            border: solid 3px rgb(123, 61, 161);
        }

        >a > button {
            height: 40px;
            padding: 0px 20px;
            background-color: #38363b;
            border-radius: 10px;
            color: white;
            border: none;
            cursor: pointer;
        }

        >a > button:hover {
            border: solid 1px white;
        }

        .temas {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: auto;
            height: 100%;
            gap: 20px;

            > p {
                font-size: 15px;
                color: white;
                border: solid 1px rgb(221, 221, 221);
                border-radius: 5px;
                padding: 10px 20px;
            }
        }
    }




    
    #produto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        width: 1600px;
        height: 550px;
        padding: 20px 20px;
        border-radius: 10px;
        background-color: rgb(48, 48, 58);

        #info-produto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;
            padding: 0px 10px 0px 0px;

            .titulo {
                display: flex;
                flex-direction: column;
                justify-self: start;
                align-items: start; 

                width: 100%;
                height: 100%;

                > h1 {
                    font-size: 30px;
                    color: rgb(197, 197, 197);
                    margin-bottom: 20px;
                }

                > p {
                    font-size: 15px;
                    color: #bebebe;
                    overflow-y: hidden;
                    max-width: 80ch;
                    max-height: 20ch;
                    text-overflow: ellipsis;
                }
            }

            #Comprar {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: auto;
                background: rgb(56, 56, 56);
                border-radius: 10px;
                padding: 0px 20px 20px 20px;

                .info {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;

                    width: 100%;
                    height: 100%;

                    > h1 {
                        font-size: 30px;
                        color: rgb(197, 197, 197);
                        margin-right: 5px;
                        padding: 10px 0px;
                    }  
                }

                .acoes {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 100%;
                    gap: 10px;

                    > button {
                        width: 100%;
                        height: 40px;
                        background-color: #2D2D2D;
                        border: none;
                        border-radius: 10px;
                        color: white;
                        transition: 0.3s;
                    }

                    > button:hover {
                        border: solid 1px white;
                    }

                    .paraconta {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        padding: 20px;
                        background-color: #2D2D2D;
                        border-radius: 100%;
                        transition: 0.3s;

                        > img {
                            width: 100%;
                        }
                    }

                    .paraconta:hover {
                        background-color: #828282;
                    }
                }
            }
        }

        #produto-images {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            min-width: 770px;
            height: 100%;
            padding: 0px 0px 0px 10px;

            .swiper {
                width: 100%;
                height: 100%;
              }
              
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #2c2c2c;
                border-radius: 10px;
              
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
              }
              
              .swiper-slide img, video {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              
              .swiper {
                width: 100%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
              }
              
              .swiper-slide {
                background-size: cover;
                background-position: center;
              }
              
              .mySwiper2 {
                height: 100%;
                width: 100%;
              }
              
              .mySwiper {
                height: 20%;
                box-sizing: border-box;
                padding: 10px 0;
              }
              
              .mySwiper .swiper-slide {
                width: 25%;
                height: 100%;
                opacity: 0.4;
              }
              
              .mySwiper .swiper-slide-thumb-active {
                opacity: 1;
              }
              
              .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }






            img, video {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                transition: 0.3s;
            }

            .outrosimg {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: start;

                width: 100%;
                height: 200px;
                padding: 10px 0px 0px 0px;
                gap: 10px;

                overflow-x: auto;

                .imagem {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    min-width: 280px;
                    height: 90%;
                    border-radius: 10px;
                    background-color: rgb(24, 24, 24);
                }
            }

            ::-webkit-scrollbar {
                width: 10px;
                height: 5px;
            }
              
            ::-webkit-scrollbar-track {
                background-color: transparent;
            }
            
            ::-webkit-scrollbar-thumb {
                background-color: #333333;
                border-radius: 20px;
            }
            
        }
    }

    #descOUcoment {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 1600px;
        padding: 0px 20px;

        .selecionar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: auto;
            height: 50px;

            > button {
                height: 100%;
                background-color: #242227;
                color: #828282;
                border: none;
                padding: 0px 20px;
                transition: 0.3s;
            }

            > button:hover{
                color: white;
            }
        }

    }    

    #descEstatus {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        width: 1600px;
        height: 400px;
        padding: 20px 20px;

        h1 {
            font-size: 30px;
            color: rgb(212, 212, 212);
        }   

        h2 {
            font-size: 15px;
            color: rgb(212, 212, 212);
        }  

        p {
            font-size: 15px;
            color: #c7c7c7;
            max-height: 20ch;
            overflow-x: hidden;
        }

        ::-webkit-scrollbar {
            width: 10px;
        }
          
        ::-webkit-scrollbar-track {
            background-color: transparent;
        }
        
        ::-webkit-scrollbar-thumb {
            background-color: #333333;
            border-radius: 20px;
        }

        .desc {
            display: flex;
            flex-direction: column;
            justify-self: start;
            align-content: space-between;

            width: 100%;
            height: 100%;
            margin-right: 10px;
            background-color: #2D2D2D;
            padding: 20px;
            border-radius: 10px;

            .detalhes {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                padding: 20px 0px;

                .detalhe {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;

                    .developers {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        overflow-x: hidden;
                    }
                }
            }
        }

        .status {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;

            width: 100%;
            height: 100%;
            padding: 20px;
            margin-left: 10px;
            background: linear-gradient(180deg, #4664c9, #3d3086);
            border-radius: 10px;

            .cards {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                padding: 20px 0px;

                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    width: 150px;
                    height: 150px;
                    padding: 20px;
                    border-radius: 20px;
                    background: linear-gradient(180deg, #4669c9, #bc6a1e00);
                }
            }
        }
    }

    #plataformas {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        width: 100%;
        border-radius: 10px;
        padding: 20px;

        .plataformas {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
            width: 100%;
            height: 40px;
            border-radius: 10px;
            background-color: rgb(55, 50, 59);

            .plataforma {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;

                height: 100%;
                width: 100%;;
                padding: 0px 20px;

                > p {
                    font-size: 15px;
                    color: #8b8b8b;
                    text-wrap: nowrap;
                }

                > img {
                    height: 100%;
                }
            }
        }
    }

    #produtos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;

        width: 100%;
        height: auto;
        overflow-x: hidden;
        padding: 20px;
    }

    #comentarios {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        
        width: 1600px;
        padding: 20px 20px;

        h1 {
            font-size: 50px;
            color: white;
        }   

        p {
            font-size: 15;
            color: #E7E7E7;
        }

        #status {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            width: 50%;
            margin-right: 10px;

            .status {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
    
                width: 100%;
                height: 330px;
                padding: 20px;
                border-radius: 20px;
                margin: 0px 0px 20px 0px;
                background: linear-gradient(180deg, #C946A4, #351460d8);
    
                .resultado {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
    
                    width: 100%;
                    height: 40px;
                }
    
                .estatisticas {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
    
                    width: 100%;
                    height: 200px;
    
                    .resultado {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
    
                        width: 100%;
                        height: 30px;
    
                        .porcentagem {
                            display: flex;
                            flex-direction: row;
                            justify-content: start;
                            align-items: center;
    
                            width: 410px;
                            height: 4px;
                            border-radius: 20PX;
                            background-color: #C745BA;
    
                            .porcento {
                                height: 100%;
                                border-radius: 20PX;
                                background-color: #fafafa;
                            } 
    
                            #p5 {
                                width: 79%;
                            }
    
                            #p4 {
                                width: 8%;
                            }
    
                            #p3 {
                                width: 9%;
                            }
    
                            #p2 {
                                width: 1%;
                            }
    
                            #p1 {
                                width: 3%;
                            }
                        }
                    }
                }
            }

            button {
                width: 100%;
                height: 40px;
                background-color: #D1D1D1;
                color: #2D2D2D;
                font-size: 15px;
                border-radius: 10px;
                border: none;
                font-weight: 600;
                transition: 0.3s;
            }
            
            button:hover {
                border: solid 3px white;
                color: white;
                background-color: #242227;
            }
        }
        
        .comentarios {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            width: 100%;
            margin-left: 10px;

            .comentario {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: auto;
                max-height: 400px;
                padding: 20px;
                background-color: #2D2D2D;
                border-radius: 20px;
                margin-bottom: 20px;

                .conteudo {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;

                    width: 100%;
                    height: 100%;

                    .c-user {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;

                        width: 100%;
                        height: auto;

                        .c-user-image {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            width: 40px;
                            height: 40px;
                            background-color: #D9D9D9;
                            border-radius: 100%;
                            margin-right: 10px;
                        }

                        > h1 {
                            font-size: 15px;   
                            color: rgb(236, 236, 236);
                        }
                    }

                    #comentario {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: start;

                        width: 100%;
                        padding: 10px 0px 0px 0px;
                    }

                    #comentario > p {
                        font-size: 15px;
                        color: #bebebe;
                        overflow-x: hidden;
                        max-height: 12ch;
                    }

                    ::-webkit-scrollbar {
                        width: 10px;
                    }
                      
                    ::-webkit-scrollbar-track {
                        background-color: transparent;
                    }
                    
                    ::-webkit-scrollbar-thumb {
                        background-color: #333333;
                        border-radius: 20px;
                    }
                }

                .estrelas {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;

                    width: 100%;
                    height: 40px;
                    padding: 0px 0px 0px 0px;

                    > h1 {
                        font-size: 15px;
                        color: rgb(182, 182, 182);
                    }

                    > span {
                        color: rgb(199, 145, 65);
                    }

                    > img {
                        height: 100%;
                        margin-right: 10px;
                    }
                }
            }
        }

        .NoComentarios {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;
            min-height: 390px;
            background-color: rgb(48, 48, 48);
            border-radius: 10px;

            > h1 {
                font-size: 15px;
                color: #828282;
                font-weight: 500;
            }
        }

        #FazerComentario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100vh;
            filter: blur(5);
            background-color: #000000a6;

            position: fixed;
            top: 0;
            right: 0;
            z-index: 7;

            .Comentar {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;

                width: 650px;
                height: 500px;
                background-color: #242227;
                border-radius: 10px;
                padding: 20px;
                gap: 10px;

                > .title {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 10px;

                    > button {
                        width: 50px;
                        height: 50px;
                        background-color: #2c2c2c;
                        border: solid 3px #1e1e20;
                        border-radius: 10px;
                        color: rgb(228, 228, 228);
                    }

                    > button:hover {
                        border: solid 1px white;
                    }

                    > h1 {
                        font-size: 15px;
                        color: white;
                        border-radius: 5px;
                        border: solid 3px #663086;
                        background-color: #66308636;
                        padding: 10px 20px;
                    }
                }

                > textarea {
                    width: 100%;
                    height: 100%;
                    background-color: #2c2c2c;
                    border: solid 3px #1e1e20;
                    border-radius: 10px;
                    color: #e6e6e6;
                    padding: 10px;
                }

                > input:focus {
                    outline: 0;
                }

                > button {
                    width: 100%;
                    height: 60px;
                    border: none;
                    border-radius: 10px;
                    background-color: #2c2c2c;
                    border: solid 3px #1e1e20;
                    color: white;
                }

                > button:hover {
                    border: solid 1px white;
                }
            }

            #estrelas {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;

                width: 650px;
                height: 300px;
                background-color: #242227;
                border-radius: 10px;
                padding: 20px;
                gap: 10px;

                > .title {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    position: relative;

                    > button {
                        width: 50px;
                        height: 50px;
                        background-color: #2c2c2c;
                        border: solid 3px #1e1e20;
                        border-radius: 10px;
                        color: rgb(228, 228, 228);
                    }

                    > button:hover {
                        border: solid 1px white;
                    }

                    > h1 {
                        font-size: 15px;
                        color: white;
                        border-radius: 5px;
                        border: solid 3px #663086;
                        background-color: #66308636;
                        padding: 10px 20px;
                    }

                    .starstitle {
                        border: solid 3px #867930;
                        background-color: #86793036;
                        position: absolute;
                        right: 0;
                    }
                }

                .estrelas {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 100px;
                    gap: 10px;

                    > button {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        width: 100%;
                        height: 80%;
                        border: none;
                        background-color: #03030300;
                        transition: 0.3s;

                        > img {
                            height: 100%;
                        }
                    }

                    > button:hover {
                        height: 100%;
                    }
                }

                > button {
                    width: 100%;
                    height: 60px;
                    border: none;
                    border-radius: 10px;
                    background-color: #2c2c2c;
                    border: solid 3px #1e1e20;
                    color: white;
                }

                > button:hover {
                    border: solid 1px white;
                }
            }
        }
    }

    #complementos {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        width: 1600px;
        height: auto;
        padding: 20px 0px;

        > .title {
            display: flex;
            flex-direction: rwo;
            justify-content: start;
            align-items: center;

            width: 100%;
            height: 60px;
            padding: 0px 20px;
            background-color: rgb(105, 62, 71);
            border-radius: 10px;
        }

        > #produtos {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;
    
            width: 100%;
            height: auto;
            overflow-x: hidden;
            padding: 20px;
            gap: 25px;
        }
    }
}