* {
    box-sizing: border-box;
    margin: 0px;
  }
  
  body {
    position: relative;

    background: #181818;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    padding: 0px 0px 20px 80px;
    color: white;
    position: relative;
    z-index: 1;
  }
  
  
  
  
  h1 {
      font-size: 25px;
      color: rgb(197, 197, 197);
  }
  p {
      font-size: 15px;
      color: rgb(177, 177, 177);
  }
  h2 {
      font-size: 15px;
      color: rgb(212, 212, 212);
  }  
  h3 {
      font-size: 15px;
      color: rgb(182, 182, 182);
  }
  
  @media (max-width: 1414px) {
      h1 {
          font-size: 22px;
      }
      p {
          font-size: 12px;
      }
      h2 {
          font-size: 12px;
      }  
      h3 {
          font-size: 12px;
      }
  }
  
  
  
  
  
  .produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    width: 250px;
    height: 250px;
    background-color: #28262e;
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;
  
    position: relative;
  
    .imagem-produto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
  
        width: 100%;
        height: 100%;
        background-color: #2e2e2e;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        
        z-index: 1;
        position: absolute;
  
        .sombra {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
  
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background: linear-gradient(180deg, rgba(22, 22, 22, 0.233) 40%, rgba(49, 49, 49, 0.658) 100%);
  
            .linha {
                width: 100%;
                height: 3px;
                background-color: #13131300;
            }
        }
  
        .produtoIMG {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
  
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
  
            img {
                height: 100%;
                min-height: 290px;
            }
        }
    }
  
    h1 {
        font-size: 15px;   
        color: #c5c5c5;
    }
  
    h3 {
        font-size: 15px;   
        color: #cfcfcf;
        font-weight: 400;
    }
  
    p {
        font-size: 15px;   
        color: #969696;
        max-width: 25ch;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
  
    a {
        text-decoration: none;
        font-size: 15px;   
        color: #c5c5c5;
        overflow-x: hidden;
        max-width: 25ch;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
  
    .informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
  
        width: 100%;
        height: 100px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), black);
        bottom: -40px;
        transition: 0.3s;
  
        z-index: 1;
        filter: blur(5);
        position: absolute;
  
        .dados {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
    
            width: 100%;
            height: auto;
            padding: 10px 10px 10px 10px;
        }
    
        .info {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
    
            width: 100%;
            padding: 0px 10px 10px 10px;
        }
    }
  }
  
  .produto:hover {
    background-color: #3b3b3b;
    border: solid 1px white;
  }
  
  .produto:hover > .informacoes {
    bottom: 0;
  }
  
  ::-webkit-scrollbar {
      height: 5px;
      width: 10px;
  }
    
  ::-webkit-scrollbar-track {
      background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb { 
      background-color: #1a1a1a;
      border-radius: 20px;
  }
  
  
  
  
  
  
  
  @media (max-width: 1714px) {
      .produto {
          width: 240px;
          height: 240px;
          .imagem-produto {
              .produtoIMG {
                  img {
                      min-height: 240px;
                  }
              }
          }
      }
  }
  
  @media (max-width: 1414px) {
      .produto {
          width: 200px;
          height: 200px;
          .imagem-produto {
              .produtoIMG {
                  img {
                      min-height: 200px;
                  }
              }
          }
      }
  }
  
  @media (max-width: 1209px) {
      .produto {
          width: 180px;
          height: 180px;
          .imagem-produto {
              .produtoIMG {
                  img {
                      min-height: 180px;
                  }
              }
          }
      }
  }