#produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 0px 50px 10px 110px;
    gap: 20px;

    .titles {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    
        width: 100%;
        gap: 10px;

        .tipoFiltro {
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 10px;
            background-color: #2D2D2D;
        }
        .tipo {
            height: 35px;
            background-color: rgb(53, 53, 53);
            border: solid 2px rgb(72, 72, 72);
            border-radius: 10px;
            color: #828282;
            width: auto;
            padding: 0px 25px;
            min-width: 200px;
            transition: 0.3s;
            cursor: pointer;

            &:hover{
                color: white;
            }
        }

        > button {
            height: 35px;
            background-color: rgb(53, 53, 53);
            border: solid 2px rgb(72, 72, 72);
            border-radius: 10px;
            color: #828282;
            width: 200px;
            transition: 0.3s;
            cursor: pointer;

            &.false {
                background-color: #3f3f3f79;
                border: solid 2px rgba(72, 72, 72, 0.475);
                color: #8282827f;
            }
        }
    }
    
    
    .produtos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    
        width: 100%;
        height: auto;
        overflow-x: hidden;
        gap: 15px;

        .vermais {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;

            height: calc((100vw - 140px - 110px) / 7);
            background-color: #252525;
            transition: 0.3s;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background-color: #3b3b3b;
                border: solid 1px white;
                transform: scale(0.99);
            }
            &:active {
                transform: scale(0.97);
            }
        }
    }
}