#boleto-payment-main{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: rgb(17,17,20);
    background: linear-gradient(156deg, rgba(17,17,20,1) 0%, rgba(44,26,77,1) 43%, rgba(78,14,131,1) 100%);
    width: 100vw;
    height: 100vh;

    .boleto-payment-background {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #313131;
        padding: 30px;
        border-radius: 20px 0px 0px 20px;
    }

    .return {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }

    .btn-return {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;

        padding: 20px;
        width: 100px;
        height: 50px;
        border: solid 1px #2e0b63;
        

        color: #fff;
        background-color: #222222;
        border-radius: 10px;

            
    }

        .btn-return:hover {
            border:none!important;
            background-color: #6016ce!important;
        }



    .text-pay-boleto {    
        font-size: 20px;
        padding: 60px 0px;
    }

     
    .text-pay-boleto h1 {
        color: #ffffff;
        font-size: 40px
    }

    .boleto {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        justify-content: center;
    }
    .boleto img {
        width: 1000px;
    }
    .button-sections {
        display: flex;
        flex-direction: row;
        padding: 50px 0px;

        .button {
        padding: 10px;
        }
    }

    .back {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;

        padding: 20px;
        width: 200px;
        height: 50px;
        border: solid 1px #2e0b63;
        

        color: #fff;
        background-color: #222222;
        border-radius: 10px;

            
    }

        .back:hover {
            border:none!important;
            background-color: #6016ce!important;
        }
    

    .finalizar-pays {
        width: 200px;
        height: 50px;
        border: solid 1px #2e0b63;
        
        color: #fff;
        background-color: #222222;
        border-radius: 10px;
    }

    .finalizar-pays:hover {
        border:none!important;
        background-color: #6016ce!important;
    }
    
    .info-boleto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #222222;
        width: 700px;
        height: 1085px;
        padding: 30px;

        border-radius: 0px 20px 20px 0px;
    }

    .info-boleto p {
        padding: 10px;
        font-size: 20px;
    }

    .info-boleto img {
        width: 100%;
    }

    .metodo-difer p {
        font-size: 22px;
        color: #fff;
    }

}