#mae {
    width: 1600px;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='80' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/><path d='M-20.133 24.568C-13.178 24.932-6.452 27.376 0 30c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='hsla(339.6,82.2%,51.6%,1)' fill='none'/><path d='M-20.133 44.568C-13.178 44.932-6.452 47.376 0 50c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='hsla(198.7,97.6%,48.4%,1)' fill='none'/><path d='M-20.133 64.568C-13.178 64.932-6.452 67.376 0 70c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='hsla(47,80.9%,61%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    .mae-formulario {
      display: flex;
      flex-direction: column;
      width: 114rem;
      height: 51.2rem;
      align-items: center;
      justify-content: center;
  
      .n-creio {
        position: fixed;
        background-color: #1c1c1c;
        width: 30rem;
        height: 30rem;
        border-radius: 8px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            width: 30rem;
            height: 30rem;
            top: -50%;
            left: -50%;
            background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
            z-index: 1;
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
          }

          &::after {
            content: '';
            position: absolute;
            width: 30rem;
            height: 30rem;
            top: -50%;
            left: -50%;
            background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
            z-index: 1;
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
            animation-delay: -3s;
        }

          @keyframes animate {
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
          }

          .borda2{
            position: absolute;
            top: 0;
            inset: 0;

            &::before{
                content: '';
                position: absolute;
                width: 30rem;
                height: 30rem;
                top: -50%;
                left: -50%;
                background: linear-gradient(0deg, transparent, transparent, #fa4081, #fa4081, #fa4081);
                z-index: 1;
                transform-origin: bottom right;
                animation: animate 6s linear infinite;
                animation-delay: -1.5s;
              }

            &::after {
                content: '';
                position: absolute;
                width: 30rem;
                height: 30rem;
                top: -50%;
                left: -50%;
                background: linear-gradient(0deg, transparent, transparent, #fa4081, #fa4081, #fa4081);
                z-index: 1;
                z-index: 1;
                transform-origin: bottom right;
                animation: animate 6s linear infinite;
                animation-delay: -4.5s;
            }

              @keyframes animate {
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
          }
          }


        form {
          position: absolute;
          inset: 4px;
          background-color: #222;
          padding: 50px 40px;
          border-radius: 8px;
          z-index: 2;
  
          h1 {
            color: whitesmoke;
            font-weight: 500;
            text-align: center;
            letter-spacing: 0.1em;
            
          }
  
          .formulario {
            display: flex;
            width: 400px;
            margin-top: 40px;
  
            > input {
              position: relative;
              width: 100%;
              padding: 20px 10px 10px;
              background: transparent;
              outline: none;
              box-shadow: none;
              border: none;
              color: black;
              font-size: 1em;
              letter-spacing: 0.1em;
              transition: 0.5s;
              z-index: 10;
            }
  
            > span {
              position: absolute;
              left: 0;
              padding: 20px 10px 10px;
              pointer-events: none;
              color: gainsboro;
              font-size: 1em;
              letter-spacing: 0.5em;
              transition: 0.5s;
            }
  
            > input:valid ~ span,
            > input:focus ~ span {
              color: white;
              font-size: 0.75em;
              transform: translateY(-34px);
            }

            > i {
                position: absolute;
                left: 0;
                bottom: 10;
                width: 100%;
                height: 2px;
                background-color: #fff;
                border-radius: 4px;
                overflow: hidden;
                transition: 0.5s;
                pointer-events: none;
            }

            > input:valid ~ i,
            > input:focus ~ i{
              color: white;
             height: 44px;

            }
          }
          .botao > button{
            border: none;
            outline: none;
            padding: 9px 27px;
            background-color: #fff;
            cursor: pointer;
            font-size: 0.9em;
            border-radius: 4px;
            font-weight: 600;
            width: 25rem;
            margin-top: 40px;
            transition: background-color 0.5s;
           }  
           .botao > button:hover {
            background: linear-gradient(to top,  #45f3ff, #fa4081);
          }
          .botao > .erro {
            color: red;
            display: block;
            font-size: 14px;
            margin-top: 10px;
          }
        }
      }
    }
  }
  