.Planosacess {
    width: 100vw;
    left: 0;
    position: absolute;

    .danadinho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.504);

        position: fixed;
        top: 0;
        right: 0;
        z-index: 6;
    }

    .news {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: auto;
        padding: 20px 30px 20px 110px;

        .news-cards {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: auto;

            .swiper {
                width: 100%;
                height: 270px;
            }
              
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #363636;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                position: relative;

                &:hover { 
                    border: solid 2px rgb(201, 200, 200);
                    animation: bordauser 3s infinite;
                }
                &:hover { 
                    > img {
                        -moz-transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        transform: scale(1.05);
                    }
                }

                .conteudo {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
            
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.578), rgba(19, 19, 19, 0.049));
            
                    position: absolute;
            
                    > h1 {
                        font-size: 15px;
                        color: white;
                    }
                    > p {
                        text-align: flex-start;
                        color: #ededed;
                    }
                }
        
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    -moz-transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                }
        
                p {
                    max-height: 8ch;
                    overflow: hidden;
                }
            }
        }
    }
}