#finalizar-payment-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(62,62,65);
    background: linear-gradient(0deg, rgba(62,62,65,1) 0%, rgba(84,77,77,1) 35%, rgba(0,0,0,1) 100%);

    width: 100vw;
    height: 100vh;

    .image-esq {
        background-image: url(../../../../public/assets/images/pagamento/imagefundo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 625px;
        height: 450px;
        border-radius: 10px 0px 0px 10px;

    }
    .finalizar-payment {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        background-color: rgb(227, 227, 227);
        padding: 20px;
       
        border-radius: 0px 10px 10px 0px;
    }

    .titulo-payment{
        padding: 10px;
    }

    .titulo-payment h1 {
        color: #000000;
    }

    

    .text-payment {
        color: #4c1d95;
        width: 400px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        padding: 10px;        
    }

    .metodos-de-pagamento{

        display: flex;
        flex-direction: row;
        
        padding: 10px;

        .pagarpix {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            
            height: 270px;
            width: 250px;
            
            
        }
        .pagarpix img{
                width: 130px;
                padding: 19px 0px;
        }

        .pagarboleto{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            
        }
        .pagarboleto img{
            width: 150px;
            padding: 10px 0px;
        }


        

        .btn-pagar{
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 10px;
            width: 300px;

            .chave-pix{
                padding: 10px;
                width: 200px;
                height: 50px;
                border-radius: 10px;
                border: none;

                color: #fff;
                background-color: #4c1d95;
            }

            .chave-pix:hover {
                border:none!important;
                background-color: #6016ce!important;
            }

            .boleto {
                padding: 10px;
                width: 200px;
                height: 50px;
                border-radius: 10px;

                color: #fff;
                border: none;
                background-color: #4c1d95;

                
            }
            .boleto:hover {
                border:none!important;
                background-color: #6016ce!important;
            }
        }

        
        

        
        
    }


}