#finalizar-payment-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(62,62,65);
    background: linear-gradient(0deg, rgba(62,62,65,1) 0%, rgba(84,77,77,1) 35%, rgba(0,0,0,1) 100%);

    width: 100vw;
    height: 100vh;

    .finalizar-payment {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        background-color: rgb(62, 62, 62);
        padding: 20px;
       
        border-radius: 10px;
    }

    .titulo-payment{
        padding: 10px;
    }

    

    .text-payment {
        color: #ffffff;
        width: 400px;
        text-align: center;
        font-size: 18px;
        padding: 10px;        
    }

    .metodos-de-pagamento{

        display: flex;
        flex-direction: row;
        
        padding: 10px;

        .pagarpix {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            
            height: 270px;
            width: 250px;
            
            
        }
        .pagarpix img{
                width: 220px;
                padding: 30px 0px;
        }

        .pagarboleto{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            
        }
        .pagarboleto img{
            width: 150px;
            padding: 0px 0px;
        }


        

        .btn-pagar{
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 10px;
            width: 300px;

            .chave-pix{
                padding: 10px;
                width: 200px;
                height: 50px;
                border-radius: 10px;

                color: #fff;
                background-color: rgb(96, 95, 95);
            }

            .boleto {
                padding: 10px;
                width: 200px;
                height: 50px;
                border-radius: 10px;

                color: #fff;
                background-color: rgb(96, 95, 95);
            }
        }

        
        

        
        
    }


}