#BarraLateral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    .BarraLateral {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 100px;
        height: 100vh;
        padding: 25px;
        background-color: #27272e;

        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;

        .logo {
            width: 100%;
            cursor: pointer;
        }

        .botoes {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;

            width: 100%;
            height: 80%;

            .redirects {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                width: 50px;
                height: 50px;
                padding: 15px;
                border-radius: 10px;
                background-color: #3f3f3f;
                margin-top: 20px;
                transition: 0.3s;

                > img {
                    height: 100%;
                }
            }

            .carrinho:hover {
                background-color: rgb(189, 115, 45);
            }

            .fav:hover {
                background-color: rgb(189, 45, 45);
            }

            .assistente:hover {
                background-color: rgb(45, 112, 189);
            }
        }
    }

    #assistente {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;

        width: 420px;
        height: 95vh;
        background-color: #3d3d3d;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        z-index: 9;
        position: fixed;
        top: 20px;
        left: 110px;

        > .linha {
            width: 3px;
            height: 100%;
            animation: rgb infinite 4s;
            background-color: #0e8aa0;
        }

        .assis {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            height: 100%;
            padding: 20px;

            .assisOUbot {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                height: 60px;
                padding: 5px;
                gap: 10px;
                border-radius: 10px;
                background-color: #212121;

                > .botao {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    border: none;
                    background-color: #323232;
                    color: white;
                    transition: 0.3s;
                }

                > .bot:hover {
                    background-color: #3dcf75;
                }

                > .assistente:hover {
                    background-color: #753dcf;
                }
            }

            .mensagens {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;

                width: 100%;
                height: 85%;
                padding: 10px;
                border-radius: 10px;
                background-color: rgb(56, 56, 56);

                .mensagem {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: start;

                    max-width: 200px;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: #323232;
                    margin-bottom: 10px;

                    > p {
                        color: #D3D3D3;
                    }
                }
            }

            .enviar {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 60px;
                gap: 10px;

                input {
                    width: 100%;
                    height: 100%;
                    padding: 0px 20px;
                    border: none; 
                    background-color: #212121;
                    border-radius: 10px;
                    color: #ffffff;
                    outline: none;
                    border: none;
                }

                button {
                    border: none;
                    border-radius: 10px;
                    width: 60px;
                    height: 60px;
                    padding: 18px;
                    transition: 0.3s;
                    background: linear-gradient(180deg, rgb(95, 206, 81), rgb(25, 156, 134));
                    animation: rgb infinite 5s;

                    > img {
                        height: 100%;
                    }
                }

                button:hover {
                    padding: 15px;
                }
            }
        }
    }

    .Menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;

        width: 220px;
        height: 450px;
        background-color: #3d3d3d;
        border-radius: 10px;
        border: solid 1px #a8a8a8;

        z-index: 9;
        position: fixed;
        top: 20px;
        left: 110px;

        .geral {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            width: 100%;
            padding: 20px;

            .none {
                margin: 0px 0px 10px 0px;
            }

            h1 {
                margin: 20px 0px 10px 0px;
            }

            a {
                text-decoration: none;
                color: rgb(197, 197, 197);
                transition: 0.3s;
            }

            a:hover {
                color: #CF833D;
            }

            .pages {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;

                width: 100%;
            }
        }
    }

    .fundo {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        width: 100%;
        height: 100vh;
        filter: blur(5);
        background-color: #000000a6;

        z-index: 8;
        position: fixed;
        top: 0;
        left: 0;

    }

    .BarraLateralCar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        width: 520px;
        height: 100vh;
        background-color: #323232;
    
        z-index: 9;
        position: fixed;
        top: 0;
        right: 0;

        .Resumo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            height: 60px;
            padding: 0px 20px;
            background-color: #212121;

            > h1 {
                font-size: 20px;
                color: #D3D3D3;
            }
        }

        .prodEsub {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            height: 100%;
            padding: 20px;

            .produtos {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
    
                width: 100%;
                height: 100%;

                .produto {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 180px;
                    gap: 10px;
                    margin-bottom: 20px;

                    .card {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        border-radius: 10px;
                        gap: 10px;
                        background-color: #3B3B3B;

                        .verproduto {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;

                            height: 100%;

                            > img {
                                height: 100%;
                                width: 160px;
                                border-radius: 10px;
                                background: cover;
                            }

                            > button {
                                margin-top: 10px;
                                width: 100%;
                                height: 30px;
                                border-radius: 10px;
                                border: none;
                                background-color: #212121;
                                color: white;
                                transition: 0.3s;
                            }

                            > button:hover {
                                background-color: #CF833D;
                            }
                        }

                        .info {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;

                            width: 100%;
                            height: 100%;

                            > h1 {
                                font-size: 15px;   
                                color: rgb(236, 236, 236);
                            }

                            > p {
                                overflow-x: hidden;
                                font-size: 15px;   
                                color: #cfcfcf;
                                font-weight: 400;
                                max-height: 10ch;
                            }

                            ::-webkit-scrollbar {
                                width: 10px;
                            }
                              
                            ::-webkit-scrollbar-track {
                                background-color: transparent;
                            }
                            
                            ::-webkit-scrollbar-thumb {
                                background-color: #333333;
                                border-radius: 20px;
                            }
                        }
                    }

                    .acoes {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        width: 100px;
                        height: 100%;
                        border-radius: 10px;
                        padding: 10px;
                        background-color: #3B3B3B;

                        .buton {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            width: 100%;
                            height: 65px;
                            padding: 17px;
                            background-color: #333333;
                            border-radius: 10px;
                            transition: 0.3s;

                            > img {
                                height: 100%;
                            }
                        }

                        .buton:hover {
                            padding: 15px;
                        }

                        .apagar:hover {
                            background-color: rgb(172, 38, 38);
                        }
                        .qnt:hover {
                            background-color: rgb(70, 70, 70);
                        }
                    }
                }
            }

            .subtotal {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
    
                width: 100%;
                height: 400px;
                gap: 20px;

                .dados {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background-color: #212121;
                }

                > button {
                    width: 100%;
                    height: 60px;
                    padding: 0px 20px;
                    background-color: #CF833D;
                    border: none;
                    border-radius: 10px;
                    color: #D3D3D3;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }

        > button {
            width: 100%;
            height: 60px;
            padding: 0px 20px;
            background-color: #212121;
            border: none;
            color: #D3D3D3;
            font-size: 15px;
            font-weight: 600;
        }
    }
}

@keyframes Barra {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}

@keyframes rgb {
    20% {
        background-color: #3dcf75;
    }
    40% {
        background-color: #33af63;
    }
    60% {
        background-color: #216d3e;
    }
    80% {
        background-color: #178866;
    }
    100% {
        background-color: #0e8aa0;
    }
}