.fundo {
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
}



.barralateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 100vh;
    gap: 15px;
    background-color: rgb(44, 44, 44);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 50px;
        padding: 15px;
        border-radius: 10px;
        transition: 0.3s;
        background-color: rgb(51, 51, 51);
        position: relative;
        cursor: pointer;
        border: solid 1px rgb(48, 48, 48);

        img {
            height: 100%;
            opacity: 0.3;
            transition: 0.3s;
        }

        &.selecionado {
            border: solid 1px white;

            img {
                opacity: 1;
            }
        }

        &:hover {
            border: solid 1px white;

            img {
                opacity: 1;
            }
        }

        .bolinha {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: rgb(158, 51, 51);
            position: absolute;
            bottom: -3px;
            right: -3px;
        }
    }

    .linha {
        width: 50px;
        height: 10px;
        border-radius: 10px;
        background-color: rgb(53, 53, 53);
    }
}







.rgb {
    width: 450px;
    height: 7px;
    background-color: #9437b3;
    animation: linha infinite 5s;

    position: fixed;
    left: 100px;
    z-index: 13;
    transition: 0.3s;

    bottom: -7px;
}

.funcoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 450px;
    height: 850px;
    padding: 20px;
    gap: 10px;
    background-color: rgb(44, 44, 44);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    position: fixed;
    left: 100px;
    z-index: 12;

    bottom: -850px;

    .nome {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 60px;
        background-color: rgb(53, 53, 53);
        border-radius: 10px;
    }





    .itens {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        flex-grow: 1;
        gap: 10px;

        width: 100%;
        padding: 0px 0px 160px 0px;
        overflow: auto;
        position: relative;

        .vazio {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 180px;
            height: 180px;

            position: absolute;
            top: 180px;

            img {
                height: 100%;
                opacity: 0.4;
                animation: chegada 2s ;
            }
        }

        .item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            max-height: 180px;
            min-height: 180px;
            border-radius: 10px;
            padding: 10px;
            background-color: #363636;
            gap: 10px;
            transition: 0.3s;
            position: relative;

            .img {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                height: 160px;
                min-width: 160px;
                max-width: 160px;
                border-radius: 10px;
                background-color: rgb(43, 43, 43);
                overflow: hidden;

                position: relative;

                img {
                    height: 100%;
                }

                .ver {
                    position: absolute;
                    display: none;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    height: 160px;
                    min-width: 160px;
                    max-width: 160px;
                    transition: 0.3s;
                    background-color: rgba(23, 23, 23, 0.483);

                    button {
                        background-color: white;
                        border-radius: 10px;
                        border: none;
                        padding: 5px 10px;
                        transition: 0.3s;
                        cursor: pointer;
    
                        &:hover {
                            transform: scale(1.03);
                        }
                        &:active {
                            transform: scale(0.95);
                        }
                    }
                }
            }

            .img:hover {
                .ver {
                    display: flex;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                flex-grow: 1;

                height: 100%;

                h1 {
                    font-size: 15px;
                    background-color: #3e3e3e;
                    padding: 2px 7px;
                    border-radius: 10px;
                }
                p {
                    overflow-y: hidden;
                    max-height: 10ch;
                    text-overflow: ellipsis;
                }
            }
            .delete {
                display: none;
                position: absolute;
                right: 10px;
                bottom: 10px;
                background-color: rgb(164, 62, 62);
                border: none;
                border-radius: 10px;
                width: 60px;
                height: 20px;
                transition: 0.3s;
                color: rgb(85, 31, 31);
                cursor: pointer;

                &:hover {
                    transform: scale(1.03);
                }
                &:active {
                    transform: scale(0.95);
                }
            }
            .add {
                display: none;
                position: absolute;
                right: 80px;
                bottom: 10px;
                background-color: rgb(62, 104, 164);
                border: none;
                border-radius: 10px;
                width: 60px;
                height: 20px;
                transition: 0.3s;
                color: rgb(31, 48, 85);
                cursor: pointer;

                &:hover {
                    transform: scale(1.03);
                }
                &:active {
                    transform: scale(0.95);
                }
            }
        }
        .item:hover {
            .delete {
                display: flex;
            }
            .add {
                display: flex;
            }
        }
    }
    ::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }






    .carrinho {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 100%;
        

        .acoes-carrinho {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;

            width: calc(100% - 40px);
            height: 80px;  
            gap: 10px;

            position: absolute;
            bottom: 20px;
            background-color: rgb(44, 44, 44);

            .acoes {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                height: 230px;
                padding: 10px;
                gap: 10px;
                background-color: #363636;
                border-radius: 10px;

                position: absolute;
                bottom: -230px;
                z-index: 2;

                .aparecer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                    height: 40px;
                    background-color: #363636;
                    border-radius: 10px;

                    position: absolute;
                    top: -50px;
                    right: 0;

                    cursor: pointer;
                }




                h1 {
                    font-size: 15px;
                }

                .subtotal {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 40%;
                    border-radius: 10px;
                }

                .infocartao {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 100%;
                    background-color: rgb(57, 57, 57);
                    border-radius: 10px;
                }

                .infopix {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 100%;
                    background-color: rgb(57, 57, 57);
                    border-radius: 10px;
                }
            }

            button {
                width: 100%;
                height: 50px;
                background-color: #f2f2f2;
                border-radius: 10px;
                color: rgb(26, 26, 26);
                transition: 0.3s;
                z-index: 3;
                position: relative;
                cursor: pointer;
    
                &:hover {
                    transform: scale(1.03);
                }
                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }










    .salvos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 100%;

        .acoes-salvos {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;

            width: calc(100% - 40px);
            height: auto;  
            gap: 10px;

            position: absolute;
            bottom: 20px;
            background-color: rgb(44, 44, 44);

            .acoes {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                height: 50px;
                gap: 10px;

                button {
                    background-color: #393939;
                    color: rgb(85, 85, 85);
                }
            }

            button {
                width: 100%;
                height: 50px;
                background-color: #f2f2f2;
                border-radius: 10px;
                color: rgb(26, 26, 26);
                transition: 0.3s;
                z-index: 3;
                border: none;
                position: relative;
                cursor: pointer;
    
                &:hover {
                    transform: scale(1.03);
                }
                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }
}

@keyframes linha {
    20% {
        background-color: #654bb3;
    }
    40% {
        background-color: #853ebc;
    }
    60% {
        background-color: #ae3fab;
    }
    80% {
        background-color: #8026a9;
    }
    100% {
        background-color: #9437b3;
    }
}
