#CadastroUser{
  width: 106.7rem;
  height: 53rem;
  margin-right: 100px; 

  .all{
    width: 100%;
    height: 100%;
    background-image: url('../../../../public/assets/images/login/giphy.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center;

    .card{
      #cadastro{
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.1);

        height: 25rem;
        width: 28rem;
        position: relative;
        top: 240px;
        left: 640px;
        color: black;

        form{
          display: grid;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          justify-content: space-evenly;
          gap: 10px;
          padding: 20px 20px;

          p{
            display: flex;
            justify-content: space-between;
            width: 21rem;
            label{
              font-size: 18px;
              color: #000000;
              animation: animar 2s ease-in-out infinite;
            }
            @keyframes animar {
              0%, 100% {
                  transform: scale(1);
              }
              50% {
                  transform: scale(1.2);
                  color: #11e2de;
              }
            }
            input{
              display: inline-block;
              background-color: #f2f2f2;
              border: 2px solid #ddd;
              border-radius: 10px;
              padding: 10px;
            }
            button{
              background-color: #23e4d8;
              color: #fff;
              border: none;
              border-radius: 5px;
              padding: 10px 20px;
              font-size: 18px;
              cursor: pointer;
              transition: transform 0.3s ease, background-color 0.3s ease;
              margin-left: 110px;
            }
            a{
              text-decoration: none;
              color: #14faf6;
              border: none;
              margin-left: 220px;
              font-size: 18px;
              cursor: pointer;
              transition: background-color 0.3s ease;
            }
          }
        }
      }
    }
  }
}